<div class="register-container">
  <form>
    <label for="username">USER: </label>
    <input type="text" id="username" name="username" required>

    <br><br><label for="mail">MAIL: </label>
    <input type="text" id="mail" name="mail" required>

    <br><br><label for="password">PASSWORD: </label>
    <input type="password" id="password" name="password" required>

    <br><br><label for="password2">REPEAT PASSWORD: </label>
    <input type="password" id="password2" name="password2" required>

    <br><br><button type="submit">SIGN UP</button>
  </form>
</div>
